.App {
  text-align: center;
  background-color: #2D2D2D;
  color: antiquewhite;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.buttonContainer > * {
  flex-basis: 40%;
}

.lightButton {
  flex-basis: 15%;
  height: 50px;
  margin-top: 16rem;
}